<div class="card text-bg-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button
        type="button"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clients/form']"
      >
        Crear Cliente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.lastname }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.createAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
