<div class="open-modal animation fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark mb-3" *ngIf="client">
                  <li class="list-group-item active">{{ client.name }}</li>
                  <li class="list-group-item">{{ client.lastname }}</li>
                  <li class="list-group-item">{{ client.email }}</li>
                  <li class="list-group-item">
                    {{ client.createAt | date: "fullDate" }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <input
                    type="file"
                    class="form-control"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                    (change)="selectFile($event)"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                    (click)="upload()"
                    [disabled]="!photo"
                  >
                    Subir
                  </button>
                </div>
                <div
                  *ngIf="progress > 0"
                  class="progress"
                  role="progressbar"
                  aria-label="Basic example"
                  [attr.aria-valuenow]="progress"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="height: 40px"
                >
                  <div
                    class="progress-bar"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }} %
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <img
                  *ngIf="client?.photo"
                  [src]="
                    'http://localhost:8080/api/uploads/img/' + client.photo
                  "
                  [alt]="client.photo"
                  class="img-thumbnail rounded"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
